@page "/imlist"

@using Microsoft.AspNetCore.Identity;
@using MonLicensing.Data
@using MonLicensing.Models
@using Radzen.Blazor;
@inject UserManager<ApplicationUser> _userManager;

@inject ApplicationDbContext db


    <h3>Меры воздействия</h3>
<button class="btn btn-success" @onclick="AddNew">Добавить новый</button>
<RadzenGrid AllowFiltering="true" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="4"
            AllowSorting="true" Data="@сonclusions" TItem="ImpactMeasures" ColumnWidth="150px">
    <Columns>
        <RadzenGridColumn TItem="ImpactMeasures" Property="Name" Title="Наименование"></RadzenGridColumn>
        <RadzenGridColumn TItem="ImpactMeasures" Property="Desc" Title="Примечание"></RadzenGridColumn>
      
        @*<RadzenGridColumn TItem="IdentityRole" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">*@
    <RadzenGridColumn TItem="ImpactMeasures" TextAlign="Radzen.TextAlign.Center" Title="Редактировать" Width="60px">
        <Template Context="сonclusion">
            <RadzenButton Click="@(args => Edit(сonclusion))"> <span class="oi oi-pencil" aria-hidden="true"></span> </RadzenButton>
        </Template>
    </RadzenGridColumn>
    <RadzenGridColumn TItem="ImpactMeasures" TextAlign="Radzen.TextAlign.Center" Title="Удалить" Width="60px">
        <Template Context="сonclusion">
            <RadzenButton Click="@(args => Delete(сonclusion))"><span class="oi oi-trash" aria-hidden="true"></span></RadzenButton>
        </Template>
    </RadzenGridColumn>
    </Columns>
</RadzenGrid>


@if (ShowPopup)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">@title</h3>
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span style="color:red">@strError</span>
                    <table class="table">
                        <tr>
                            <td>Наименование</td>
                            <td><input type="text" class="form-control" @bind="@сonclusion.Name" /></td>
                        </tr>

                        <tr>
                            <td>Примечание</td>
                            <td><input type="text" class="form-control" @bind="@сonclusion.Desc" /></td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-primary" @onclick="Save">
                                    Сохранить
                                </button>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
}


@code {

    private List<ImpactMeasures> сonclusions= new List<ImpactMeasures>();

    private ImpactMeasures сonclusion = new ImpactMeasures();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    System.Security.Claims.ClaimsPrincipal CurrentUser;

    ApplicationUser objUser;
    string strError = "";
    string title = "";
    bool ShowPopup = false;


    void AddNew()
    {
        сonclusion = new ImpactMeasures();
        сonclusion.Id = 0;
        title = "Новоя запись";
        ShowPopup = true;
    }
    async Task Save()
    {
        try
        {
            if (сonclusion.Id != 0)
            {
                ImpactMeasures lt = await db.ImpactMeasures.FindAsync(сonclusion.Id);
                lt.Name = сonclusion.Name;
                lt.Desc= сonclusion.Desc;
                await db.SaveChangesAsync();
            }
            else
            {
                db.ImpactMeasures.Add(сonclusion);
                await db.SaveChangesAsync();
            }

            ShowPopup = false;
            LoadData();
        }
        catch (Exception ex)
        {
            strError = ex.GetBaseException().Message;
        }
    }
    async Task Edit(ImpactMeasures lt)
    {
        title = "Редактирование";
        сonclusion = lt;
        ShowPopup = true;
    }
    async Task Delete(ImpactMeasures lt)
    {
        ShowPopup = false;
        var obj = await db.ImpactMeasures.FindAsync(lt.Id);
        if (obj != null)
        {
            db.ImpactMeasures.Remove(obj);
            await db.SaveChangesAsync();
        }
        LoadData();
    }
    void ClosePopup()
    {
        ShowPopup = false;
    }

    protected override async Task OnInitializedAsync()
    {
        // CurrentUser = (await authenticationStateTask).User;
        // objUser = await _userManager.FindByNameAsync(CurrentUser.Identity.Name);
        LoadData();
    }

    public void LoadData()
    {
        сonclusion = new ImpactMeasures();
        сonclusions = db.ImpactMeasures.OrderBy(x => x.Name).ToList();

    }


}
