@page "/"

<h1>Лицензирование образовательной деятельности</h1>

Добро пожаловать 

    @*<div align="center">
        <a class="btn btn-primary" Href="">Онлайн заявка</a>
    </div>*@
    
        @*<SurveyPrompt Title="How is Blazor working for you?" />*@
