
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Лицензирование </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>




<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </li>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <MatNavMenu Multi="true" Class="app-sidebar">
                    <MatNavMenu Multi="true" Class="app-sidebar">
                        <MatNavItem Href="registers">
                            <span class="oi oi-people" aria-hidden="true"></span>Пользователи
                        </MatNavItem>
                    </MatNavMenu>

                    <MatNavSubMenu>
                        <MatNavSubMenuHeader>
                            <MatNavItem AllowSelection="false">
                                <NavLink class="nav-link" href="">
                                    <span class="oi oi-list-rich" aria-hidden="true"></span> Справочники
                                </NavLink>
                            </MatNavItem>
                        </MatNavSubMenuHeader>
                        <MatNavSubMenuList>
                            <MatNavItem Href="eduproglist">
                                <span class="oi oi-briefcase" aria-hidden="true"></span>Программы
                            </MatNavItem>
                            <MatNavItem Href="conclusionlist">
                                <span class="oi oi-document" aria-hidden="true"></span> Заключения
                            </MatNavItem>
                            <MatNavItem Href="legalformlist">
                                <span class="oi oi-browser" aria-hidden="true"> </span> Форма
                            </MatNavItem>
                            <MatNavItem Href="deniallist">
                                <span class="oi oi-ban" aria-hidden="true"> </span>Отказ
                            </MatNavItem>
                            <MatNavItem Href="reissuininglist">
                                <span class="oi oi-loop-square" aria-hidden="true"></span>Переоформление
                            </MatNavItem>
                            <MatNavItem Href="imlist">
                                <span class="oi oi-shield" aria-hidden="true"></span> Меры воздействия
                            </MatNavItem>

                            <MatNavItem Href="processeslist">
                                <span class="oi oi-loop-circular" aria-hidden="true"></span> Процессы
                            </MatNavItem>
                            <MatNavItem Href="licencetypelist">
                                <span class="oi oi-list" aria-hidden="true"></span> Тип лицензий
                            </MatNavItem>


                        </MatNavSubMenuList>
                    </MatNavSubMenu>
                </MatNavMenu>
            </li>

            @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="licences_typelist">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>*@
        </AuthorizeView>

        <AuthorizeView Roles="Manager">
            <li class="nav-item px-3">
                <MatNavMenu Multi="true" Class="app-sidebar">
                    <MatNavItem Href="registers">
                     
                            Регистрация
                   
                    </MatNavItem> 
                </MatNavMenu>
            </li>

            @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="licences_typelist">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>*@
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
